@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background: #f5f1ef;
}

main {
    --main-height: 75vh;
    --min-height: 550px;
    background: #1d88ed;
    color: #EBF5EE;
    font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 12.5vh auto;
    height: var(--main-height);
    width: 700px;
    min-height: var(--min-height);
    border-radius: 15px;
    display: flex;
    box-shadow: 6px 4px 2px 1px #262626;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form {
    width: 100%;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
    border-radius: 5px;
}

form li+li {
    margin-top: 1em;
}

h1 {
    width: 100%;
    text-align: center;
}

li>input {
    background-color: #EBF5EE;
}

label {
    display: inline-block;
    width: 120px;
    text-align: right;
    padding: 5px;
}

#submit {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    width: 70%;
    height: 30px;
}

#contact {
    display: flex;
}

/* photo styling */
img {
    height: var(--main-height);
    width: 300px;
    border-radius: 15px 0 0 15px;
    min-height: var(--min-height);
}

#photocredit {
    position: relative;
    bottom: 40px;
    font-size: 9px;
    text-align: right;
    padding: 9px;
    color: #F0F0F0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

/* tshirt buttons */
.tshirt {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.tshirt>label {
    min-width: 120px;
}

.tshirt>button {
    margin: 0;
    margin-left: 5px;
}

.tshirt>button:focus {
    border: solid #000 2px;
    background-color: #fff;
    font-weight: 600;
    color: #000;
}

input {
    padding: 5px;
}

input:focus {
    background-color: #fff;
}

.input:focus-within {
    color: #fff;
    font-weight: 600;
}

.desc {
    font-style: italic;
    padding: 0px 20px 10px;
    text-align: justify;
}

fieldset {
    margin: 0 10px;
}